
:root {
  --font-size: 14px;
  --background: #ffffff;
  --fdd-primary-blue: #00558c;
  --fdd-primary-dark-grey: #414042;
  --fdd-primary-light-grey: #c9cacc;
  --fdd-secondary-blue: #467aa9;
  --fdd-text-grey: #636466;
  --fdd-text-web-grey: #3a5b70;
  --fdd-secondary-light-grey: #939598;
  --fdd-red:#D1202A;
  --fdd-yellow: #E7AC51;
  --container-width: 800px
}


/* Additional CSS variables for compatibility */

/* Base styles without Tailwind */
* {
  box-sizing: border-box;
}

body {
  background: var(--background);
  margin: 0;
  padding: 0;
}



/* for smaller screen */

h2 {
  font-size: 1.75rem;
  font-weight: var(--font-weight-medium);
  line-height: 1.5;
}

h3 {
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-family: urw-din, sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 32px;
    color: var(--fdd-primary-blue);
}

h4 {
  font-size: 1.25rem;
  font-weight: var(--font-weight-medium);
  line-height: 1.5;
}

p {
    font-size: 19px;
    line-height: 34px;
    font-weight: 400;
    font-family: lato, sans-serif;
    margin: 0;
}

@media (max-width: 768px) {
  p {
    font-size: 16px;
    line-height: 28px;
  }
}



label {
  font-size: 1rem;
  font-weight: var(--font-weight-medium);
  line-height: 1.5;
}

button {
  font-size: 1rem;
  font-weight: var(--font-weight-medium);
  line-height: 1.5;
}

input {
  font-size: 1rem;
  font-weight: var(--font-weight-normal);
  line-height: 1.5;
}



address,blockquote,dd,dt,figcaption,h1,h2,h3,h4,h5,h6,label,li,p,td,a,th {
    -webkit-font-smoothing: antialiased
}

a {
  color: var(--fdd-secondary-blue);
  text-decoration: none;
  font-weight: 700;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: var(--fdd-primary-blue);
  text-decoration: underline;
}


/* Ensure paragraphs have consistent styling */
p {
  margin: 0 0 1.2em 0;
  line-height: 1.6;
}

p:last-child {
  margin-bottom: 0;
}